rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /avatars/{userId}/{allPaths=**} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }

    match /projects/{projectId}/{allPaths=**} {
      // Allow writes only for authenticated users.
      // The logic in the app ensures only authorized roles can trigger this.
      allow read;
      allow write: if request.auth != null;
    }
  }
}
